#top-nav{
    height: 50px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
}
#search{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #efefef;
    border-radius: 4px;
    background: #efefef;
    height: 40px;
    width: 85vw;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

#search #search-icon{
    position: absolute;
    left: 10px;
    top: 5px;
}
#search p{
    position: absolute;
    left: 48px;
    color: #333333;
    opacity: 0.4;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
#search #camera-icon{
    position: absolute;
    right: 15px;
    top: 5px;
}

#message-icon{
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: 0.8;
}

.search-img{
    height: 30px;
    width: 30px;
}


/* BOTTOM NAV ELEMENTS - SMALL SCREENS */

#bottom_nav{
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75)
}

#bottom_nav_elements{
    height: 50px;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    
}

.bottom-nav-element{
    height: 40px;
    width: 67px;
    /* border: 1px dotted orange; */
    text-align: center;
    line-height: 0;
}
.bottom-nav-element img{
    height: 30px;
    width: 30px;
}
.bottom-nav-element p{
    font-size: 8px;
    opacity: 0.6
}

@media only screen and (min-width: 768px){
    #top-nav{
        width: 95vw;
        margin-top: 5px;
        margin-left: 5px;
    }
}